In [10]:
import mysql.connector

# Connect to MySQL Server
mydb = mysql.connector.connect(
    host="localhost",
    user="postgres",
    password="0000"
)

# Create a database
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS CountryDatabase")

# Use the database
mycursor.execute("USE CountryDatabase")

# Create the table
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS CountryData (
        Country VARCHAR(100),
        Region VARCHAR(100),
        Population INT,
        Area INT,
        Pop_Density FLOAT,
        Coastline FLOAT,
        Net_Migration FLOAT,
        Infant_Mortality FLOAT,
        GDP INT,
        Literacy FLOAT,
        Phones FLOAT,
        Arable FLOAT,
        Crops FLOAT,
        Other FLOAT,
        Climate INT,
        Birthrate FLOAT,
        Deathrate FLOAT,
        Agriculture FLOAT,
        Industry FLOAT,
        Service FLOAT
    )
""")

# Insert data into the table
sql = """
    INSERT INTO CountryData 
    (Country, Region, Population, Area, Pop_Density, Coastline, Net_Migration, Infant_Mortality, GDP, Literacy, Phones, Arable, Crops, Other, Climate, Birthrate, Deathrate, Agriculture, Industry, Service) 
    VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

val = ('Country1', 'Region1', 1000000, 50000, 20.0, 200.5, 5.5, 4.5, 500000, 85.5, 150.2, 30.5, 12.5, 57.0, 2, 22.5, 7.8, 15.2, 77.0, 7.8)

mycursor.execute(sql, val)

# Commit changes and close connection
mydb.commit()
mydb.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)

In [ ]:
2+2

In [1]:
!ls

'~$SQLs.docx'   Readme.md   SQLs.docx   Untitled.ipynb